name: Deploy static content to Pages

on:
  push:
    branches: ["gh-pages-source"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions: 
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 20.11.0
          cache: npm
      - run: npm install

      - name: Build
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.5.0
        with:
          target_branch: master
          build_dir: public
